.groupList {
    width: 6rem;
    padding-right: 1rem;
    overflow: auto;

    :global {
        .ant-btn {
            white-space: normal;
            height: auto;
            min-width: 80px;
        }
    }
}

.groupList>button {
    margin: 0.5rem 0;
}

.groupList>button:nth-child(1) {
    margin-top: 0 !important;
}