.container {
    height: calc(100% - 48px);
    padding: 1rem;

    .content {
        padding-top: 1rem;
        height: 83%;
        width: 100%;
        display: flex;

        .groupList {
            width: 6rem;
            padding-right: 1rem;
            overflow: auto;

            :global {
                .ant-btn {
                    white-space: normal;
                    height: auto;
                }
            }
        }

        

        .groupList>button {
            margin: 0.5rem 0;
        }

        .groupList>button:nth-child(1) {
            margin-top: 0 !important;
        }

        .cardContainer {
            display: flex;
            flex: 1;
            background-color: #f5f5f5;
            flex-wrap: wrap;
            padding: 0.2rem;
            overflow: auto;
        }
    }
}