<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="antd,umi,umijs,ant design,脚手架,布局, Ant Design,项目,Pro,admin,控制台,主页,开箱即用,中后台,解决方案,组件库"
    />
    <meta
      name="description"
      content="
      开箱即用的中台前端/设计解决方案。"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>中控系统</title>
    <link rel="icon" href="./favicon.png" type="image/x-icon" />
    <style>
        #root{
          min-width: 830px !important;
        }
    </style>
  </head>
  <body>
    <noscript>script 无法运行！ </noscript>
    <div id="root">
    </div>
  </body>
</html>
